<% if @objects.present? %>
  <% @objects.each do |object|%>
    <%= object["value"] %>
    <br><br><br>
  <% end %>
<% end %>

<% if @objects_category.present? %>
    <%= @objects_category %>
    <br><br><br>

<% end %>

