<p id="notice"><%= notice %></p>

<p>
  <strong>Keyword:</strong>
  <%= @search.keyword %>
</p>

<p>
  <strong>Category:</strong>
  <%= @search.category %>
</p>

<p>
  <strong>Random:</strong>
  <%= @search.random %>
</p>

<h1><%= params['keyword'].capitalize %>:</h1>
<% @objects.each do |object|%>
  <h2> <%= object["title"] %><</h2>
<% end %>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
